<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!--<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="./Logs/efcore-log.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="5MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger - %message%newline" />
		</layout>
	</appender>-->

	<appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="Logs/info.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%level] %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="INFO" />
			<levelMax value="INFO" />
		</filter>
	</appender>
	
	<appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="Logs/error.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%level] %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="ERROR" />
			<levelMax value="FATAL" />
		</filter>
	</appender>

	<appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="Logs/debug.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%level] %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="DEBUG" />
			<levelMax value="DEBUG" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
	</appender>

	<root>
		<level value="DEBUG" />
		<!--<appender-ref ref="RollingFileAppender" />-->
		
		<appender-ref ref="ErrorFileAppender" />
		<appender-ref ref="DebugFileAppender" />
		<appender-ref ref="InfoFileAppender" />
	</root>
</log4net>
